.site-logo {
  border-radius: 12px; 
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: auto;
  transition: all 0.3s ease;
}

.site-logo:hover {
  transform: translateY(-2px); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  position: relative;
  padding-right: 300px; 
}

.my-right-toc {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 300px;

  max-height: calc(100vh - 100px);
  overflow-y: auto;

  // background: #fff;
  padding: 1rem;
  border-radius: 10px;

  // box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  // border-left: 3px solid #4353FA;

  font-size: 0.85rem;
  z-index: 100;

  scrollbar-width: thin;
}

@media (max-width: 900px) {
  .my-right-toc {
    display: none;
  }
  .main-content {
    margin-right: 0;
  }
}
